<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Angular To-Do List</h1>
    <p class="lead">Add, remove or watch your to-do's</p>
  </div>
</div>

<div class="container">
  <app-add-todo-list></app-add-todo-list>
  <app-error-message *ngIf="errorOnRequest"></app-error-message>
  <app-edit-todo-list></app-edit-todo-list>
</div>
