@import '../../../styles.scss';

.fa-minus-circle {
  color: $remove-red;
}

.list-group-item:hover {
  border-color: $main-color;
  box-shadow: 0 0 8px rgba(0, 137, 198, 0.6);
  outline: 0 none;
}

.list-group {
  margin-bottom: 5em;
}

button:active,
button:focus {
  outline: none;
  border: none;
}
