<div *ngIf="todoList && todoList.length === 0" class="mt-2">
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">There are currently no to-do's in this list!</h4>
    <p>You should add a few to-do's</p>
  </div>
</div>

<ul *ngIf="todoList || (todoList && todoList.length > 0)" class="list-group">
  <li class="list-group-item" *ngFor="let todo of todoList">
    {{ todo.description }}
    <button
      (click)="removeTodo(todo)"
      type="button"
      class="close"
      aria-label="delete"
    >
      <span aria-hidden="true"
        ><i class="fa fa-minus-circle" aria-hidden="true"></i
      ></span>
    </button>
  </li>
</ul>
