@import '../../../styles.scss';

.btn:hover {
  background-color: $add-color;
  border-color: $add-color;
}

button {
  border-color: $add-color;
}

.form-control:focus {
  border-color: $main-color;
  box-shadow: 0 0 8px rgba(0, 137, 198, 0.6);
  outline: none;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

.btn:active {
  box-shadow: none;
  outline: none;
}
