<div class="input-group mb-3">
  <input
    #newTodo
    (keyup.enter)="addTodo(newTodo.value); newTodo.value = ''"
    type="text"
    class="form-control"
    placeholder="Enter your to-do here"
    aria-label="To Do"
    aria-describedby="Input for To Do"
    autofocus
  />
  <div class="input-group-append">
    <button
      (click)="
        addTodo(newTodo.value); todoService.loadTodos(); newTodo.value = ''
      "
      class="btn btn-outline-secondary"
      type="button"
      id="button-addon2"
    >
      Add to-do
    </button>
  </div>
</div>
